In [21]:
import pandas as pd
df = pd.DataFrame([[1,1],[2,2],[3,3]],columns=['col1','col2'])
df.to_csv('./sample_csv.csv',index=False)

In [22]:
df

   col1  col2
0     1     1
1     2     2
2     3     3

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      int64
 1   col2    3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes

In [25]:
dtypes = {
    "col1": "int64",
    "col2": "int32",
}
# dtypes : int16, int8, float32, boolean
d = pd.read_csv("./sample_csv.csv", dtype=dtypes)
d

   col1  col2
0     1     1
1     2     2
2     3     3

In [16]:
import dask.dataframe as dd
import datatable as dt

In [27]:
%%time
d = dt.fread("./sample_csv.csv")
print(d.shape)

(4, 2)
CPU times: user 829 µs, sys: 648 µs, total: 1.48 ms
Wall time: 1.23 ms

In [28]:
%%time
d = pd.read_csv("./sample_csv.csv")
print(d.shape)

(3, 2)
CPU times: user 4.18 ms, sys: 2.09 ms, total: 6.27 ms
Wall time: 5.47 ms

In [29]:
%%time
d = dd.read_csv("./sample_csv.csv")
print(d.shape)

(Delayed('int-aab051ab-a769-495b-bb51-5a0bef816a3b'), 2)
CPU times: user 8.17 ms, sys: 3.37 ms, total: 11.5 ms
Wall time: 9.65 ms

In [25]:
# import sys
# import cudf
# d = cudf.read_csv("./sample_csv.csv")
# print(d.shape)