# Series

In [58]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [59]:
obj = Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [60]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [61]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [62]:
obj.values[1:3]

array([ 7, -5], dtype=int64)

In [63]:
obj[[1,2,3]]

1    7
2   -5
3    3
dtype: int64

In [64]:
obj = Series([4, 7, -5, 3])
obj.index = ['Bob','Steve','Jeff','Ryan']
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [65]:
obj2 = Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [66]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [67]:
obj2.values[1:3]

array([ 7, -5], dtype=int64)

In [68]:
obj2['a']

-5

In [69]:
obj2['d'] = 6
obj2

d    6
b    7
a   -5
c    3
dtype: int64

In [70]:
obj2[['c','a','d']]

c    3
a   -5
d    6
dtype: int64

In [71]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [72]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [73]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [74]:
'b' in obj2

True

In [75]:
sdata = {'Ohio' : 35000, 'Texas' : 71000, 'Oregon' : 16000, 'Utah' : 5000}
obj3 = Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [76]:
sdata = {'Ohio' : 35000, 'Texas' : 71000, 'Oregon' : 16000, 'Utah' : 5000}
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [77]:
pd.isnull(obj4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [78]:
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [79]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64