In [1]:
import pandas as pd
import numpy as np

In [2]:
sales = {'account' : ['Kim', 'Song', 'Noh', 'Ho'],
         'Jan' : [150, 200, 70, np.NaN],
         'Feb' : [200, 210, 90, 100],
         'Mar' : [140, np.NaN, 215, 95]}
df_orig = pd.DataFrame.from_dict(sales)
df = df_orig.copy()
df

  account    Jan  Feb    Mar
0     Kim  150.0  200  140.0
1    Song  200.0  210    NaN
2     Noh   70.0   90  215.0
3      Ho    NaN  100   95.0

### Using if else in Lambda function¶
lambda (arguments) : (Return value if condition is True) if (condition) else

In [3]:
user_defined_function_01 = lambda x : True if (x>10 and x<20) else False
user_defined_function_01(17)

True

### Creating conditional lambda function without¶

In [4]:
lambda x : x > 10 and x < 20

In [7]:
check = lambda x : x>10 and x<20
check(12)

True

### Using filter() function with a conditional lambda function (with if else)

In [8]:
list_of_num = [1,3,33,12,34,56,11,19,21,34,15]
list_of_num

[1, 3, 33, 12, 34, 56, 11, 19, 21, 34, 15]

In [9]:
list_of_num = list(filter(lambda x : x>10 and x<20, list_of_num))
print('Filtered List :', list_of_num)

Filtered List : [12, 11, 19, 15]

### Using if, elif & else in a lambda function

lambda (args) : **return value** if (condition) ( **return value** if (condition) else **return value** )

In [12]:
converter = lambda x : x*2 if x<10 else (x*3 if x<20 else x)

In [14]:
print('convert 5 to : ', converter(5))
print('convert 13 to : ', converter(13))
print('convert 23 to : ', converter(23))

convert 5 to :  10
convert 13 to :  39
convert 23 to :  23

In [15]:
def main():
    print('*** Using if else in Lambda function ***')
    # Lambda function to check if a given vaue is from 10 to 20.
    test = lambda x : True if (x > 10 and x < 20) else False
 
    # Check if given numbers are in range using lambda function
    print(test(12))
    print(test(3))
    print(test(24))
 
    print('*** Creating conditional lambda function without if else ***')
 
    # Lambda function to check if a given vaue is from 10 to 20.
    check = lambda x : x > 10 and x < 20
 
    # Check if given numbers are in range using lambda function
    print(check(12))
    print(check(3))
    print(check(24))
 
    print('*** Using filter() function with a conditional lambda function (with if else) ***')
 
    # List of numbers
    listofNum = [1,3,33,12,34,56,11,19,21,34,15]
    print('Original List : ', listofNum)
 
    # Filter list of numbers by keeping numbers from 10 to 20 in the list only
    listofNum = list(filter(lambda x : x > 10 and x < 20, listofNum))
    print('Filtered List : ', listofNum)
 
    print('*** Using if, elif & else in Lambda function ***')
 
    # Lambda function with if, elif & else i.e.
    # If the given value is less than 10 then Multiplies it by 2
    # else if it's between 10 to 20 the multiplies it by 3
    # else returns the unmodified same value
    converter = lambda x : x*2 if x < 10 else (x*3 if x < 20 else x)
 
    print('convert 5 to : ', converter(5))
    print('convert 13 to : ', converter(13))
    print('convert 23 to : ', converter(23))
 
if __name__ == '__main__':
    main()

*** Using if else in Lambda function ***
True
False
False
*** Creating conditional lambda function without if else ***
True
False
False
*** Using filter() function with a conditional lambda function (with if else) ***
Original List :  [1, 3, 33, 12, 34, 56, 11, 19, 21, 34, 15]
Filtered List :  [12, 11, 19, 15]
*** Using if, elif & else in Lambda function ***
convert 5 to :  10
convert 13 to :  39
convert 23 to :  23