# In this page...
 - Pokemon data from kaggle
 - Baseline : Decision Tree

#### reading data

In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [74]:
# import os
# csv_path = os.getenv("HOME") +"/aiffel/pokemon_eda/data/Pokemon.csv"
# original_data = pd.read_csv(csv_path)

csv_path = './data/Pokemon.csv'
d_orig = pd.read_csv(csv_path)
pokemon = d_orig.copy()
print(pokemon.shape); pokemon.head(3)

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

# Baseline

In [75]:
print(d_orig.shape)
d_orig.head()

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [76]:
d_orig.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [77]:
features = ['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation']
target = 'Legendary'

In [78]:
X = d_orig[features]
print(X.shape)
X.head()

(800, 8)

   Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation
0    318  45      49       49       65       65     45           1
1    405  60      62       63       80       80     60           1
2    525  80      82       83      100      100     80           1
3    625  80     100      123      122      120     80           1
4    309  39      52       43       60       50     65           1

In [79]:
y = d_orig[target]
print(y.shape)
y.head()

(800,)

0    False
1    False
2    False
3    False
4    False
Name: Legendary, dtype: bool

In [80]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15)

print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(640, 8) (640,)
(160, 8) (160,)

#### Decision Tree

In [81]:
from sklearn.tree import DecisionTreeClassifier

modeal = DecisionTreeClassifier(random_state=25)
model

DecisionTreeClassifier(random_state=25)

In [82]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [83]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[144,   3],
       [  5,   8]])

In [84]:
len(legendary)

65

In [85]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       False       0.97      0.98      0.97       147
        True       0.73      0.62      0.67        13

    accuracy                           0.95       160
   macro avg       0.85      0.80      0.82       160
weighted avg       0.95      0.95      0.95       160

### Feature Engineering

in prev. file >> feature engineered data...

In [87]:
# print(len(pokemon.columns))
# print(pokemon.columns)

In [88]:
# features = ['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 
#             'name_count', 'long_name', 'Forme', 'Mega', 'Mewtwo', 'Kyurem', 'Deoxys', 'Hoopa', 
#             'Latias', 'Latios', 'Kyogre', 'Groudon', 'Poison', 'Water', 'Steel', 'Grass', 
#             'Bug', 'Normal', 'Fire', 'Fighting', 'Electric', 'Psychic', 'Ghost', 'Ice', 
#             'Rock', 'Dark', 'Flying', 'Ground', 'Dragon', 'Fairy']

# len(features)

In [89]:
# target = "Legendary"
# target

In [91]:
# pokemon = pokemon.replace(to_replace="Nidoran♀", value="Nidoran X")
# pokemon = pokemon.replace(to_replace="Nidoran♂", value="Nidoran Y")
# pokemon = pokemon.replace(to_replace="Farfetch'd", value="Farfetchd")
# pokemon = pokemon.replace(to_replace="Mr. Mime", value="Mr Mime")
# pokemon = pokemon.replace(to_replace="Porygon2", value="Porygon")
# pokemon = pokemon.replace(to_replace="Ho-oh", value="Ho Oh")
# pokemon = pokemon.replace(to_replace="Mime Jr.", value="Mime Jr")
# pokemon = pokemon.replace(to_replace="Porygon-Z", value="Porygon Z")
# pokemon = pokemon.replace(to_replace="Zygarde50% Forme", value="Zygarde Forme")

# pokemon.loc[[34, 37, 90, 131, 252, 270, 487, 525, 794]]

# pokemon["Name_nospace"] = pokemon["Name"].apply(lambda i: i.replace(" ", ""))
# pokemon["name_isalpha"] = pokemon["Name_nospace"].apply(lambda i: i.isalpha())
# pokemon[pokemon["name_isalpha"] == False]

In [92]:
# X = pokemon[features]
# print(X.shape)
# X.head()

In [94]:
# y = pokemon[target]
# print(y.shape)
# y.head()

In [96]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=15)

# print(X_train.shape, y_train.shape)
# print(X_test.shape, y_test.shape)

In [97]:
# model = DecisionTreeClassifier(random_state=25)
# model

In [98]:
# model.fit(X_train, y_train)
# y_pred = model.predict(X_test)
# print('슝=3')

In [101]:
# confusion_matrix(y_test, y_pred)

In [102]:
# print(classification_report(y_test, y_pred))