In [1]:
import pandas as pd

In [2]:
pwd

'/Users/hwan/Desktop/git_repos/TIL'

In [3]:
pd.read_csv("../TIL_data_git/er_sgd_krw.csv")

     year   mmdd     krw  sgd
0    2021  03-05  840.94    1
1    2021  03-04  849.63    1
2    2021  03-03  849.48    1
3    2021  03-02  846.53    1
4    2021  03-01  839.45    1
..    ...    ...     ...  ...
280  2020  03-15  862.22    1
281  2020  03-13  856.15    1
282  2020  03-12  859.89    1
283  2020  03-11  854.05    1
284  2020  03-10  850.86    1

[285 rows x 4 columns]