#### library

In [26]:
import pandas as pd
import logging

#### udf

In [17]:
def make_logger(name=None):
    # 1 logger instance 생성
    logger = logging.getLogger(name)

    # 2 logger level 설정
    logger.setLevel(logging.INFO)

    # 3 formatter 생성
    formatter = logging.Formatter(" [*] [%(levelname)s] %(asctime)s : %(message)s")

    # 4 handler instance 생성
    console = logging.StreamHandler()

    # 5 handler별 level 설정
    console.setLevel(logging.INFO)

    # 6 handler 출력 format 지정
    console.setFormatter(formatter)

    # 7 logger에 handler 추가
    logger.addHandler(console)

    return logger

In [18]:
# IP의 국가찾기
def Find_Country(ip='1.1.1.1'):
    # logger = make_logger()
    
    # logger.info('국가별 정보 읽어오기')
    raw_sips, raw_dips, raw_countries = [], [], []
    with open('info.csv', 'rt') as fd:
        info = fd.read()

    # logger.info('sip, dip, country 리스트화')
    raw_sips, raw_dips, raw_countries = info.split('\n')
    sips = raw_sips.split(',')
    dips = raw_dips.split(',')
    countries = raw_countries.split(',')
    
    # logger.info('찾을 IP 리스트화')
    ip = list(map(lambda x: int(x), ip.split('.')))
    
    # logger.info('IP의 국가찾기')
    for sip, dip, country in zip(sips, dips, countries):
        sip = list(map(lambda x: int(x), sip.split('.')))
        dip = list(map(lambda x: int(x), dip.split('.')))

        if sip[0] <= ip[0] <= dip[0]:
            # logger.info(sip)
            if sip[1] <= ip[1] <= dip[1]:
                if sip[2] <= ip[2] <= dip[2]:
                    return country
                    # print(' [+] {}.{}.{}.{}({})'.format(ip[0], ip[1], ip[2], ip[3], country))
                    break

#### usage

In [23]:
li_ip = ['216.58.197.174', '185.229.152.19', '59.11.71.210', '60.66.230.218']
df = pd.DataFrame(li_ip, columns=['ip_address'])
df

       ip_address
0  216.58.197.174
1  185.229.152.19
2    59.11.71.210
3   60.66.230.218

In [25]:
df['country'] = df.ip_address.apply(Find_Country)
df

       ip_address country
0  216.58.197.174      US
1  185.229.152.19      DK
2    59.11.71.210      KR
3   60.66.230.218      JP

#### source
 - https://ccurity.tistory.com/408