## loc vs. iloc 
 - iloc : integer position을 통해 값을 인덱싱.
 - loc : label을 통해서 값을 인덱싱.

#### 공통점 : row를 필터링할 때

In [17]:
d.loc[0:2]

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

In [21]:
d.iloc[0:3]

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa

#### 차이점 : column을 필터링할 때

In [10]:
d.loc[0:2, ['sepal.length','petal.length']]

   sepal.length  petal.length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3

In [12]:
d.iloc[0:2, 1:3]  # 행 : 시작 ~ len-1 / 열 : 시작 ~ len-1

   sepal.width  petal.length
0          3.5           1.4
1          3.0           1.4