In [8]:
import numpy as np

In [46]:
li_a = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
li_b = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']

def ff(x):
    for i in range(len(li_a)):
        if x==li_a[i]:
            return li_b[i]
        elif x!=li_a[i]:
            return 'NA'
        else:
            pass
        
import time
li = [] 

for i in range(10000):    
    tic = time.time()
    ff('NOV')
    toc = time.time()
    li.append((toc - tic) * 1000000)

np.mean(li)

0.9335756301879883

In [56]:
di = {
    'JAN':'01', 'FEB':'02', 'MAR':'03', 'APR':'04', 'MAY':'05', 'JUN':'06', 
    'JUL':'07', 'AUG':'08', 'SEP':'09', 'OCT':'10', 'NOV':'11', 'DEC':'12'
}

def ff2(x):
    for k, v in di.items():
        if x==k:
            return v
        else:
            pass

import time
li = [] 

for i in range(10000):    
    tic = time.time()
    ff2('NOV')
    toc = time.time()
    li.append((toc - tic) * 1000000)

np.mean(li)

1.3698577880859375

In [ ]:
di = {
    'JAN':'01', 'FEB':'02', 'MAR':'03', 'APR':'04', 'MAY':'05', 'JUN':'06', 
    'JUL':'07', 'AUG':'08', 'SEP':'09', 'OCT':'10', 'NOV':'11', 'DEC':'12'
}

In [67]:
import pandas as pd

di = {
    'JAN':'01', 'FEB':'02', 'MAR':'03', 'APR':'04', 'MAY':'05', 'JUN':'06', 
    'JUL':'07', 'AUG':'08', 'SEP':'09', 'OCT':'10', 'NOV':'11', 'DEC':'12'
}

df = pd.DataFrame({'JAN':[1,2], 'ddd':[3,4]})
df.columns = df.columns.map(di)
df

   01  NaN
0   1    3
1   2    4

In [68]:
stack = []
 
# append() function to push
# element in the stack
stack.append('a')
stack.append('b')
stack.append('c')
 
print('Initial stack')
print(stack)
 
# pop() function to pop
# element from stack in
# LIFO order
print('\nElements popped from stack:')
print(stack.pop())
print(stack.pop())
print(stack.pop())
 
print('\nStack after elements are popped:')
print(stack)

Initial stack
['a', 'b', 'c']

Elements popped from stack:
c
b
a

Stack after elements are popped:
[]

#### algo

In [72]:
nums1 = [4,1,2]; nums2 = [1,3,4,2]
# nums1 = [2,4]; nums2 = [1,2,3,4]

In [99]:
# nums1 = [4,1,2]; nums2 = [1,3,4,2]
# v1 = 4

nums2 = [1,3,4,2]
for i in range(len(nums2)):
    if nums2[i] == 4:
        print(i)   # index of nums2
    else:
        pass

2

In [ ]:
next greater

In [ ]:
4를 찾는다 >> 인덱스:2 >>

In [73]:
for e in nums1:
    print(e)

4
1
2

In [76]:
for e2 in nums2:
    if e2==4:
        print(e2)
    else:
        print('no')

no
no
4
no