# # Visualization

## ## 00. load package

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import seaborn as sns
import matplotlib.colors as mcolors
import matplotlib.pyplot as plt7
import colorsys

pd.options.display.max_rows = 100
pd.options.display.max_columns = 100
sns.set_style('whitegrid')

/Users/hwan/opt/anaconda3/lib/python3.8/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## ## 00. load data

#### #### available datasets

In [2]:
pd.DataFrame(sns.get_dataset_names()).T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
0,anagrams,anscombe,attention,brain_networks,car_crashes,diamonds,dots,dowjones,exercise,flights,fmri,geyser,glue,healthexp,iris,mpg,penguins,planets,seaice,taxis,tips,titanic

In [3]:
# titanic data: df_titanic
df_titanic = sns.load_dataset('titanic')
display(
    df_titanic.shape,
    df_titanic.head(1), 
    df_titanic.tail(1)
)

(891, 15)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True

In [4]:
# penguine data: df_peng
df_peng = sns.load_dataset('penguins')
display(
    df_peng.shape,
    df_peng.head(1), 
    df_peng.tail(1)
)

(344, 7)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,Male

In [5]:
# tip data: df_tip
df_tips = sns.load_dataset('tips')
display(
    df_tips.shape,
    df_tips.head(1), 
    df_tips.tail(1)
)

(244, 7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2

     total_bill  tip     sex smoker   day    time  size
243       18.78  3.0  Female     No  Thur  Dinner     2

In [ ]:
# ## 01. figure & axes 시각화 Template

# #### 데이터 확인

# In[15]:


print(df_peng.shape); df_peng.head(1)


# #### Figure & Axes

# In[16]:


# (3,2)
fig, axs = plt.subplots(nrows=3, ncols=2, figsize=(12,6),   # nrows, ncols, figsize 설정
                        constrained_layout=True,            # subplot들 간의 간격을 최적으로 자동 조정
                        sharex=False, sharey=False)         # x축공유, y축공유 설정

sns.kdeplot(x='bill_length_mm', data=df_peng, ax=axs[0,0])
sns.kdeplot(x='bill_depth_mm', data=df_peng, ax=axs[0,1])
sns.kdeplot(x='flipper_length_mm', data=df_peng, ax=axs[1,0])
sns.kdeplot(x='body_mass_g', data=df_peng, ax=axs[1,1])
sns.kdeplot(x='flipper_length_mm', data=df_peng, ax=axs[2,0])
sns.kdeplot(x='body_mass_g', data=df_peng, ax=axs[2,1])

print('** Axes:', axs[0,0], axs[0,1], axs[1,0], axs[1,1], axs[2,0], axs[2,1])


# ## 02. Visualization - Matplotlib

# #### matplotlib & ax object - [Basic plots]
#  - line plot, scatter plot, bar plot, stem plot, step plot, fill_between plot, stackplot, contour plot
#  - https://matplotlib.org/stable/plot_types/index.html

# In[17]:


fig, axs = plt.subplots(nrows=4, ncols=2, figsize=(12,6),
                        constrained_layout=True,
                        sharex=False, sharey=False)

# axs[0,0] - line plot
x = np.linspace(0, 10, 100)
y = 4 + 2 * np.sin(2*x)
axs[0,0].plot(x, y, linewidth=2.0)
axs[0,0].set(xlim=(0, 8), xticks=np.arange(1, 8), ylim=(0, 8), yticks=np.arange(1, 8))

# axs[0,1] - scatter plot
x = 4 + np.random.normal(0, 2, 24)
y = 4 + np.random.normal(0, 2, len(x))
sizes = np.random.uniform(15, 80, len(x))
colors = np.random.uniform(15, 80, len(x))
axs[0,1].scatter(x, y, s=sizes, c=colors, vmin=0, vmax=100)
axs[0,1].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))

# axs[1,0] - bar plot
x = 0.5 + np.arange(8)
y = np.random.uniform(2, 7, len(x))
axs[1,0].bar(x, y, width=1, edgecolor='white', linewidth=0.7)
axs[1,0].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))

# axs[1,1] - stem plot
# x = 0.5 + np.arange(8)
# y = np.random.uniform(2, 7, len(x))
# axs[1,1].stem(x, y)
# axs[1,1].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))

# axs[1,1] - stem plot
x = [1, 2, 3, 4]
y = [0.4, 0.6, 0.9, 0.5]
axs[1,1].stem(x, y)
axs[1,1].set(xlim=(0,5), xticks=np.arange(1,5), ylim=(0,1), yticks=np.arange(0,1,0.1))

# axs[2,0] - step plot
x = 0.5 + np.arange(8)
y = np.random.uniform(2, 7, len(x))
axs[2,0].step(x, y, linewidth=2.5)
axs[2,0].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))

# axs[2,1] - fill_between plot
x =np.linspace(0, 8, 16)
y1 = 3 + 4*x/8 + np.random.uniform(0, 0.5, len(x))
y2 = 1 + 2*x/8 + np.random.uniform(0, 0.5, len(x))
axs[2,1].fill_between(x, y1, y2, alpha=0.5, linewidth=0)
axs[2,1].plot(x, (y1+y2)/2, linewidth=2)
axs[2,1].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))

# axs[3,0] - stackplot
x = np.arange(0, 10, 2)
ay = [1, 1.25, 2, 2.75, 3]
by = [1, 1, 1, 1, 1]
cy = [2, 1, 2, 1, 2]
y = np.vstack([ay, by, cy])
axs[3,0].stackplot(x, y)
axs[3,0].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))

# axs[3,1] - contour(x,y,z)
x, y = np.meshgrid(np.linspace(-3, 3, 256), np.linspace(-3, 3, 256))
z = (1 - x/2 + x**5 + y**3) * np.exp(-x**2 - y**2)
levels = np.linspace(np.min(z), np.max(z), 7)
axs[3,1].contour(x, y, z, levels=levels)

plt.show()


# #### matplotlib & ax object - [Statistics plots]
#  - histogram, boxplot, errorbar, violinplot, eventplot, 2d histogram, hexbin plot, pie plot
#  - https://matplotlib.org/stable/plot_types/index.html

# In[18]:


fig, axs = plt.subplots(nrows=4, ncols=2, figsize=(12,8),
                        constrained_layout=True,
                        sharex=False, sharey=False)


# axs[0,0] - histogram
x = 4 + np.random.normal(0, 1.5, 200)
axs[0,0].hist(x, bins=8, linewidth=0.5, edgecolor='white')
axs[0,0].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,56), yticks=np.linspace(0,56,9))


# axs[0,1] - boxplot
d = np.random.normal((3,5,4), (1.25,1.00, 1.25), (100,3))
vp = axs[0,1].boxplot(d, positions=[2,4,6], widths=1.5, patch_artist=True,
                      showmeans=False, showfliers=False,
                      medianprops={'color':'white', 'linewidth':0.5},
                      boxprops={'facecolor':'C0', 'edgecolor':'white', 'linewidth':0.5},
                      whiskerprops={'color':'C1', 'linewidth':1.5},
                      capprops={'color':'C2', 'linewidth':1.5})
axs[0,1].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))


# axs[1,0] - errorbar
x = [2, 4, 6]
y = [3.6, 5, 4.2]
yerr = [0.9, 1.2, 0.5]
axs[1,0].errorbar(x, y, yerr, fmt='o', linewidth=2, capsize=6)
axs[1,0].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))


# axs[1,1] - violinplot
d = np.random.normal((3,5,4), (0.75,1.00,0.75), (200,3))
vp = axs[1,1].violinplot(d, [2,4,6], widths=2, showmeans=False, showmedians=False, showextrema=False)
# for body in vp['bodies']:
#     body.set_alpha(0.9)
# axs[1,1].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))


# axs[2,0] - eventplot
x = [2, 4, 6]
d = np.random.gamma(4, size=(3, 50))
axs[2,0].eventplot(d, orientation='vertical', lineoffsets=x, linewidth=0.75)
axs[2,0].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))


# axs[2,1] - 2d histogram
x = np.random.randn(500)
y = 1.2 * x + np.random.randn(500) / 3
plt.style.use('_mpl-gallery-nogrid')
axs[2,1].hist2d(x, y, bins=(np.arange(-3, 3, 0.1), np.arange(-3, 3, 0.1)))
axs[2,1].set(xlim=(-2, 2), ylim=(-3, 3))


# axs[3,0] - hexbin plot
x = np.random.randn(500)
y = 1.2 * x + np.random.randn(500)/3
axs[3,0].hexbin(x, y, gridsize=20)
axs[3,0].set(xlim=(-2,2), ylim=(-3,3))


# axs[3,1] - pie plot
x = [1, 2, 3, 4]
colors = plt.get_cmap('Blues')(np.linspace(0.2, 0.7, len(x)))
axs[3,1].pie(x, colors=colors, radius=3, center=(4,4), 
             wedgeprops={'linewidth':1, 'edgecolor':'white'},
             frame=True)
axs[3,1].set(xlim=(0,8), xticks=np.arange(1,8), ylim=(0,8), yticks=np.arange(1,8))


plt.show()


# ## 03. Visualization - Seaborn

# #### seaborn - Distribution of Data
#  - 데이터: df_titanic, df_peng

# In[33]:


sns.displot(df_peng, x='flipper_length_mm')   # 데이터프레임에서 컬럼 하나의 분포 보기


# In[20]:


sns.displot(df_peng, x='flipper_length_mm', binwidth=3)   # 히스토그램 막대의 bin 크기 지정하기


# In[24]:


sns.displot(df_peng, x='flipper_length_mm', bins=20)   # 히스토그램의 막대 개수 지정하기


# In[75]:


display(df_tips.shape, df_tips.head(2))
sns.displot(df_tips, x='size')


# In[76]:


display(pd.DataFrame(df_tips['size'].value_counts()).T)   # show values

sns.displot(df_tips, x='size', bins=[1,2,3,4,5,6,7])   # plotting


# In[77]:


# discrete=True
display(pd.DataFrame(df_tips['size'].value_counts()).T)   # show values
sns.displot(df_tips, x='size', discrete=True)   # plotting


# In[79]:


# shrink
display(pd.DataFrame(df_tips['size'].value_counts()).T)   # show values
sns.displot(df_tips, x='size', shrink=.8)   # plotting


# In[80]:


# shrink
display(pd.DataFrame(df_tips['day'].value_counts()).T)   # show values
sns.displot(df_tips, x='day', shrink=.8)   # plotting


# In[ ]:





# In[ ]:





# In[ ]:





# In[ ]:





# In[ ]:





# In[ ]:





# #### set figure size @ seaborn(sns)

# In[81]:


sns.displot(df_peng, x='flipper_length_mm')


# In[50]:


# Method.1) Change the size of Axes-Level Plots
fig, axes = plt.subplots(figsize=(12,2))
# sns.scatterplot(data=df_peng, x='flipper_length_mm', ax=axes)
# display scatterplot
sns.scatterplot(data=df, x="var1", y="var2")


# In[38]:


import pandas as pd
import seaborn as sns

#create data
df = pd.DataFrame({"var1": [25, 12, 15, 14, 19, 23, 25, 29],
                   "var2": [5, 7, 7, 9, 12, 9, 9, 4],
                   "var3": [11, 8, 10, 6, 6, 5, 9, 12]})

#define figure size
sns.set(rc={"figure.figsize":(8, 4)}) #width=8, height=4

#display scatterplot
sns.scatterplot(data=df, x="var1", y="var2")


# In[67]:


# Method.2) 
sns.set(rc={"figure.figsize":(12, 2)})  
sns.displot(df_peng, x='flipper_length_mm')  


# In[ ]:





# In[ ]:





# #### Reference
# * seaborn 시각화 >> https://seaborn.pydata.org/tutorial/distributions.html
# * 그래프 시각화/main 강조 >> https://jehyunlee.github.io/2022/09/05/Python-DS-112-sethls/
# * matplotlib 로컬 파일 위치 >> file:///C:/Users/donghwank/Downloads/matplotlib.html
# * matplotlib >> https://steadiness-193.tistory.com/m/174
# * VISUALIZATION.html >> file:///C:/Users/donghwank/Downloads/VISUALIZATION.html

# In[ ]: