In [1]:
!pip install -q tabula-py

     |████████████████████████████████| 12.0 MB 3.8 MB/s

In [4]:
import tabula
import warnings
from google.colab import drive
warnings.filterwarnings('ignore')
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
cd ./drive/MyDrive/DIGITALIZATION

/content/drive/MyDrive/DIGITALIZATION

In [14]:
# adjust, modify, revise, adjust, fine-tune??

##########################################
##### The only part you should modify ####
PDF_FILE_NAME = 'sample.pdf'
##########################################

In [16]:
tables = tabula.read_pdf(PDF_FILE_NAME, stream=True, pages=1)
print('** The shape(#rows & #columns) of the first table >> {}'.format(tables[0].shape))
df = tables[0]
df

** The shape(#rows & #columns) of the first table >> (3, 5)

  Country     A       B      C      D
0      SG  1231  324345  46546  33444
1   China     1     345   3345  65465
2   Korea   413     567   8786    567

In [20]:
# adjust, modify, revise, adjust, fine-tune??

##########################################
##### The only part you should modify ####
EXCEL_FILE_NAME = 'output_sample.xlsx'
##########################################
df.to_excel(EXCEL_FILE_NAME, index=False)

In [ ]:
# pdf_path = "https://github.com/hwaneest/Digitalization/raw/main/sample.pdf"
# dfs = tabula.read_pdf(pdf_path, stream=True)

'pages' argument isn't specified.Will extract only from page 1 by default.

In [ ]:
# print('** How many pages/tables are there in documents? >> Total {} pages/tables '.format(len(dfs)))
# print('** The shape(#rows & #columns) of the first table >> {}'.format(dfs[0].shape))

** How many pages/tables are there in documents? >> Total 1 pages/tables
** The shape(#rows & #columns) of the first table >> (3, 5)

NameError: ignored

In [ ]:
df.to_csv('')