#### duplicate

In [1]:
import pandas as pd
df = pd.DataFrame({'a':[1,1,3], 'b':[2,2,4]})
df

   a  b
0  1  2
1  1  2
2  3  4

In [2]:
df[df.duplicated(keep=False)]

   a  b
0  1  2
1  1  2

#### column name change (1)

In [13]:
df = pd.DataFrame({'a':[1,2,3], 'b':[4,5,6]})

In [14]:
df.columns

Index(['a', 'b'], dtype='object')

In [15]:
list(map(str.upper, df.columns))

['A', 'B']

In [8]:
def colnamechange(x):   # x: str
    return x.lower().replace(' ', '_')

In [10]:
list(map(colnamechange, df.columns))

#### column name change (2)

In [ ]:
pd.Series(df.columns).apply(lambda x: x.replace('', '_').replace('/','_')