#### In this page...
 - if phrase

Conditional Expression

In [1]:
x = 5 
y = x if x==10 else 0
y

0

In [6]:
if True:
    print('true_1')
else:
    print('false_1')

if False:
    print('true_2')
else:
    print('false_2')
    
if None:
    print('true_3')
else:
    print('false_3')

true_1
false_2
false_3

In [15]:
if 0 : print('true_1') 
else : print('false_1')
    
if 1 : print('true_2') 
else : print('false_2')

if 13.5 : print('true_3') 
else : print('false_3')

if 0x1F : print('true_4') 
else : print('false_4')

if 0b1000 : print('true_5') 
else : print('false_5')

false_1
true_2
true_3
true_4
true_5

In [16]:
if 'hi' : print('true_1') 
else : print('false_1')
    
if '' : print('true_2') 
else : print('false_2')

true_1
false_2

#### Summary
 - return True : numbers(except 0), strings,...
 - return False : 0, None, '', [], (), {}, SET() ...

In [27]:
a,b,c,d = map(int, input().split())
if 0<=a<=100 and 0<=b<=100 and 0<=c<=100 and 0<=d<=100 :    
    if (a+b+c+d)/4 >= 80:
        print('pass')
    else:
        print('non-pass')
else :
    print('wrong input')

90 85 99 91
pass

In [35]:
if 7<=age<=12 :
    balance = balance - 650
elif 13<=age<=18 :
    balance = balance - 1050
elif age>=19:
    balance = balance - 1250

print(balance)

6500

#### for phrase
 - range / increase values / decrease values

In [2]:
for i in range(0,10,2):
    print('hi,increasing',i)

hi,increasing 0
hi,increasing 2
hi,increasing 4
hi,increasing 6
hi,increasing 8

In [5]:
for i in range(10,0,-2):
    print('hi, decreasing',i)

hi, decreasing 10
hi, decreasing 8
hi, decreasing 6
hi, decreasing 4
hi, decreasing 2

reversed 이용

In [8]:
for i in reversed(range(5)):
    print('hi',i)

hi 4
hi 3
hi 2
hi 1
hi 0

In [10]:
for i in range(10):
    print(i, end=' ')
    i = 10   # no effect

0 1 2 3 4 5 6 7 8 9

use sequence object(list, tuple, ...) into for phrase

In [12]:
a = [1,2,3,4,5]
for i in a:
    print(i,end=' ')

1 2 3 4 5

In [13]:
a = ('aaa','bb','c')
for i in a:
    print(i,end=' ')

aaa bb c

In [14]:
a = 'python'
for i in a:
    print(i,end=' ')

p y t h o n

In [15]:
for letter in reversed('python'):
    print(letter, end=' ')

n o h t y p

#### while phrase

In [19]:
i = 0            # i=1
while i<10:      # i<=10
    print('hi',i,end='/')
    i += 1

hi 0/hi 1/hi 2/hi 3/hi 4/hi 5/hi 6/hi 7/hi 8/hi 9/

random numbers

In [26]:
import random
print(random.random())
print(random.random())
print(random.random())

0.7531804005976381
0.11241437932820708
0.5898736948705187

In [31]:
print(random.randint(1,10))
print(random.randint(1,10))
print(random.randint(1,10))

3
9
6

In [35]:
import random
i = 0
while i!=5:
    i = random.randint(1,6)
    print(i)

6
2
3
5

**random.choice** : select element randomly from sequence object

In [37]:
dice = [1,2,3,4,5,6]
print(random.choice(dice))
print(random.choice(dice))

6
4

#### break

In [54]:
i = 0
while True:
    print(i, end=' ')
    i += 1
    if i == 5:
        break

0 1 2 3 4

In [55]:
for i in range(10000):
    print(i, end=' ')
    if i == 5:
        break

0 1 2 3 4 5

#### continue

In [62]:
for i in range(8):
    if i%2 == 0:
        continue   # skip 
    print(i, end=' ')

1 3 5 7

In [63]:
i = 0
while i < 10:
    i+=1
    if i%2 == 0:
        continue
    print(i, end=' ')

1 3 5 7 9

loop & pass = no incidence

In [65]:
for i in range(10):
    pass   # nothing happens

In [1]:
# DO NOT RUN THIS CELL
# # while True:
# #    pass   # infinite loop

In [4]:
count = int(input('repeat n:'))
i = 0
while True:
    print(i,end=' ')
    i += 1
    if i == count:
        break

repeat:5
0 1 2 3 4 5

In [6]:
count = int(input('repeat n:'))
for i in range(count+1):
    if i%2==0:
        continue
    print(i, end=' ')

repeat n:5
1 3 5

#### nested loop

In [2]:
for i in range(5):
    for j in range(5):
        print('j:',j,sep='',end=' ')
    print('i:',i,'\\n',sep='')

j:0 j:1 j:2 j:3 j:4 i:0\n
j:0 j:1 j:2 j:3 j:4 i:1\n
j:0 j:1 j:2 j:3 j:4 i:2\n
j:0 j:1 j:2 j:3 j:4 i:3\n
j:0 j:1 j:2 j:3 j:4 i:4\n

In [6]:
for i in range(3):
    for j in range(5):
        print("*",end=' ')
    print()

* * * * *
* * * * *
* * * * *

In [10]:
for i in range(5):
    for j in range(5):
        if j<=i :
            print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [11]:
for i in range(5):
    for j in range(5):
        if j==i:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
 *
  *
   *
    *

In [13]:
for i in range(5):
    for j in range(5):
        if j<i:
            print(' ', end='')
        else:
            print('*', end='')            
    print()

*****
 ****
  ***
   **
    *

In [16]:
cnt = 5
for i in range(cnt):
    for j in reversed(range(cnt)):
        if j>i :
            print(' ', end='')
        else:
            print('*',end='')
    for j in range(cnt):
        if  j<i :
            print('*',end='')
    print()

    *
   ***
  *****
 *******
*********

### FizzBuzz Question
 - First, prints each number from 1 to 100 on a new line. 
 - For each multiple of 3, print "Fizz" instead of the number. 
 - For each multiple of 5, print "Buzz" instead of the number. 
 - For numbers which are multiples of both 3 and 5, print "FizzBuzz" instead of the number.

In [23]:
for i in range(1,101):
    if i%3 ==0 and i%5 == 0:
        print('FizzBuzz', end=' ')
    elif i%3 == 0:
        print('Fizz', end=' ')
    elif i%5 == 0:
        print('Buzz', end=' ')
    else:
        print(i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

#### other solution

In [24]:
for i in range(1,101):
    if i%15 == 0 :  
        print('FizzBuzz', end=' ')
    elif i%3 == 0:
        print('Fizz', end=' ')
    elif i%5 == 0:
        print('Buzz', end=' ')
    else:
        print(i, end=' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

#### code golf

In [31]:
for i in range(1,50):
    print('Fizz' * (i%3==0) + 'Buzz' * (i%5==0) or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49

### Graphics

In [1]:
import turtle as t 
t.shape('turtle')